
body{
  font-family: 'Lato', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fffefc;
}
.img-wrap {
  position:relative;
}
#carousel {
  border-style: none;
  transition: all 0.5s ease;
}

.info {
  color:white;
  opacity:0;
  -webkit-transition: opacity ease 0.5s;
}

.overlay {
  position:absolute;
  top:50%;
  left:50%;
  text-align:center;
  transform: translateX(-50%) translateY(-50%);
}
.img-wrap:hover #carousel{
    transform: scale(1.2, 1.2);
    -webkit-filter: blur(3px) brightness(30%);
    transition: all 0.5 ease;
}
.img-wrap:hover .info {
    opacity:1;
    transition: all 0.5s ease;
}
#logo {
  margin-left: auto;
  margin-right: auto;
  position:relative;
  display:block;
  width:auto;
  height:auto;
}
main{
  height: calc(100% - 40px);
}
img{
  object-fit: scale-down;
}
.container-fluid{
  display:flex;
  justify-content: center;
  align-items: center;
}
.row1{
  height: 66.6%;
  width: 100%;
}
#leftpanel{
  height: 100%;
  width: 100%;
  /* padding-top: 20px;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 20px; */
}
#news{
  border-style: none;
  height: 100%;
/*  border-style: solid;
  border-width: 2px;
  border-color: rgb(128, 128, 128, 0.1);*/
}
#about{
  width: 100%;
  height: 50%;
}

#carousel {
  height: calc(calc(100vh - 100px) * 0.666);
  object-position: 50% 50%;
  object-fit: cover;
}
#title{
  text-align: center;
}
#imageTitle{
  display: inline-block;
  margin-left: 15%;

}
#infoElse{
  display: inline-block;
  text-align: left;
  margin-left: 15%;
}
