body{
  font-family: 'Lato', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fffefc;
}
.active{
  background-color: lightgrey;
}
.navbar-brand>img {
  height: 25px;
}

#logo {
  margin-left: auto;
  margin-right: auto;
  position:relative;
  display:block;
  width:auto;
  height:auto;
}
#centered-brand{
  position: absolute;
  left: 40%;
  display: block;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
}
#right-brand{
  position: absolute;
  left: 95%;
  display: block;
}

.middle{
  height: calc(100vh - 100px);
}
.container-fluid{
  display:flex;
  justify-content: center;
  align-items: center;
}
.row1{
  height: 66.6%;
}

.card {
  margin-left: 30px;
}
#leftpanel{
  padding-left: 40px;
  padding-right: 20px;
  border-width: 2px;
  border-color: rgb(128, 128, 128, 0.1);
}
#news{
  height: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(128, 128, 128, 0.1);
}
#company{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: inline;
  width: 100%;
  height: 50%;
  border-width: 2px;
  border-color: rgb(128, 128, 128, 0.1);
}
#about{
  width: 100%;
  height: 50%;
/*  border-style: solid;
  border-width: 2px;
  border-color: rgb(128, 128, 128, 0.1);*/
}

#graph{
  height: 33.3%;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(128, 128, 128, 0.1);
}
#carousel {
  height: calc(calc(100vh - 100px) * 0.666);
  object-position: 50% 50%;
  object-fit: cover;
}
