body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fffefc;
}
#middle{
  height: calc(100vh - 50px);
}

#topLogo{
  height: 36%;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(128, 128, 128, 0.1);
}

#searchBar{
  height: 10%;
  margin-top:10px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(128, 128, 128, 0.1);
}

#topTags{
  height: 6%;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(128, 128, 128, 0.1);
}

#button{
  background-color: #294760;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 8px;
  margin-top:5px;
}

#tickerSearch {
  width: 10px;

}


#tickerDiv {
  margin-left: 80%;
    font-size: 10px;
    display: inherit;
    margin-bottom: -10px;
    margin-top: 10px;


}

#tickerText {
  font-size: 14px;
  float: left;
  margin-right: 5px;
  margin-left: 5px;
}

#tickerSwitch {
  float: left;
}


