.active{
  background-color: lightgrey;
}
.right-brand{
  position: absolute;
  height: 40px;
  right: 2%;
  display: block;
}
.nav-item{
  display: inline-block;
}
a{
  color:black;
  width:80px;
}
header{
  height: 40px;
  line-height: 24px!important;
  font-size: 14px!important;
}
