body{
  font-family: 'Lato', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: scroll;
}
.options{
  font-weight: bold;
  color: black;
}
.active{
  background-color: lightgrey;
}
.navbar-brand>img {
  height: 25px;
}
#centered-brand{
  position: absolute;
  left: 40%;
  display: block;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
}
#right-brand{
  position: absolute;
  left: 95%;
  display: block;
}
#secondSearchBar{
  height: 20%;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(128, 128, 128, 0.1);
}
#results{
  height: 80%;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(128, 128, 128, 0.1);
  overflow-y:auto;
}

#tableResults{
  width:100%;
}

.container-fluid{
  display:flex;
  justify-content: center;
  align-items: center;
}

ul{
  margin-right:20px;
}
ul>li{
  justify-content: space-between;
  width:5%;
}
ul>li>a{
  color:black;
}
