body{
  font-family: Arial, Helvetica, sans-serif;
}
.options{
  font-weight: bold;
  color: black;
}
.active{
  background-color: lightgrey;
}
.navbar-brand>img {
  height: 25px;
}
#centered-brand{
  position: absolute;
  left: 40%;
  display: block;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
}
#right-brand{
  position: absolute;
  left: 95%;
  display: block;
}
#middle{
  height: calc(100vh - 100px);
  margin-top: 50px;
}
#secondSearchBar{
  height: 20%;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(128, 128, 128, 0.1);
}
#results{
  height: 40%;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(128, 128, 128, 0.1);
  overflow-y:auto;
}
#topFive{
  height: 40%;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(128, 128, 128, 0.1);
}

.tops{
  height: 100%;
  width: 33%;
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(128, 128, 128, 0.1);
}
