           
            
            div .logo{
                justify-content: space-between;
            }

            .wrapper{
                display:flex;
                align-items: center;
                justify-content: center;
                height: 70%;
            }

            div h1{
                font-size:50px;
            }

            .flex-container{
                display:flex;
                align-items: flex-start;
                flex-direction:column;
            }

            #searchBar{
                box-shadow:3px 3px 12px rgba(0, 0, 0, 0.30);
                height:50px;
                font-size: 20px;
                font-family: 'Lato', sans-serif;
                border-radius: 10px;
            }            

            input{
                border:none;
                padding: 10px;
                height: 20px;
                width: 500px;
                border:1px solid #eaeaea;
                outline:none;
            }
            input:hover{
                border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
            }
            input:focus{
                border-color:#4d90fe;
            }
            input[type="submit"] {
                border-radius:2px;
                background: #f2f2f2;
                border: 1px solid #f2f2f2;
                color: #757575;
                cursor: default;
                font-size: 20px;
                font-weight: bold;
                font-family:  'Lato', sans-serif;
                margin-left:10px;
                width: 100px;
                padding: 0 16;
                height:40px;
            }
            input[type="submit"]:hover {
                box-shadow: 0 1px 1px rgba(0,0,0,0.1);
                background: #f8f8f8;
                border: 1px solid #c6c6c6;
                box-shadow: 0 1px 1px rgba(0,0,0,0.1);
                color: #222;
            }

            .ui-autocomplete{
                box-shadow:3px 3px 12px rgba(0, 0, 0, 0.30);
                font-weight:bold;
                font-family: 'Lato', sans-serif;
                border-radius:0px;
            }

            .ui-autocomplete:hover{
                border-radius:5px;
            }

            #popularTags{
                color: grey;
                font-size: 18px;
                text-decoration: underline;
                margin-top:10px;
            }
