body{
  font-family: 'Lato', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fffefc;
  font-size: 20px;
}

h3 {
  font-size: 25px;
  font-weight: bold;
  height: 30px;
}
.middle{
  height: calc(100vh - 100px);
}
.portfolio {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  width: 80%;
  margin-left: 5%;
}
#cartList{
  height: 90%;
  /*border-style: solid;
  border-width: 2px;
  border-color: rgb(128, 128, 128, 0.1);*/
}
.pie{
  height: 45%;
  /*border-style: solid;
  border-width: 2px;
  border-color: rgb(128, 128, 128, 0.1); */
  margin-top: 15px;
}
#statsList{
  height: 65%;
  /*border-style: solid;
  border-width: 2px;
  border-color: rgb(128, 128, 128, 0.1);*/
  padding-left: 5%;
}
#statsListTable{
  font-size: 18px;
}

#links{
  height: 25%;
  /*border-style: solid;
  border-width: 2px;
  border-color: rgb(128, 128, 128, 0.1);*/
}
/*Styling for the lines connecting the labels to the slices*/
polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

/* Make the percentage on the text labels bold*/
.labelName tspan {
    font-style: normal;
    font-weight: 700;
}

/* In biology we generally italicise species names. */
.labelName {
    font-size: 0.6em;
    font-style: italic;
    display: none;
}
.lines{
  display: none;
}

rect {
  stroke-width: 2;
}


/*Text class styling*/

.text {
  fill: white;
  font-family: sans-serif;
}

.header {
  background-color: black;
  color: white;
}

.ticker {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  width: 70%;
}

.weight {
  width: 50%;
  margin-left: 10%;
  background-color: #fffefc;
}

.head {
  font-size: 16px;
  font-weight: bold;
}

.elem {
  background-color: #fffefc;
}

.year-to-date {
  color: #266d54;
}

.risk{
  color: #076677;
}

.volatility {
  color: #84272f;

}
.icon {
  font-family: 'Glyphicons Halflings';
    font-size: 50px;
    float: left;
    margin-top: 6px;
    margin-left: 20px;
    margin-right: 10px;
    padding-bottom: 10px;
}

.analytics {
  padding-bottom: 20px;
}

a:not([href]):not([tabindex]) {
    text-decoration: none;
}

.stat {
  font-weight: bold;
}

.ad {
  font-size: 15px;
  padding-top: 30px;
  margin-top: 2px;
  padding-right: 5px;
}
.aladdin {
  margin-left: 30%;
  background-color: #3a3f42;
  color: #fffefc;
  margin-top: 10%;
}
.btn:hover {
    color: #fffefc;
    background-color: #232628;
}
