body{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  background-color: #fffefc;
}
.options{
  font-weight: bold;
  color: black;
}
.active{
  background-color: lightgrey;
}
.navbar-brand>img {
  height: 25px;
}
#centered-brand{
  position: absolute;
  left: 40%;
  display: block;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
}
#right-brand{
  position: absolute;
  left: 95%;
  display: block;
}
.middle{
  height: calc(100vh - 100px);
  margin-top: 50px;
}
#cartList{
  height: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(128, 128, 128, 0.1);
}
.pie{
  height: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(128, 128, 128, 0.1);
}
#statsList{
  height: 80%;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(128, 128, 128, 0.1);
  padding-left: 10%;
}

#links{
  height: 20%;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(128, 128, 128, 0.1);
}
/*Styling for the lines connecting the labels to the slices*/
polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

/* Make the percentage on the text labels bold*/
.labelName tspan {
    font-style: normal;
    font-weight: 700;
}

/* In biology we generally italicise species names. */
.labelName {
    font-size: 0.9em;
    font-style: italic;
}


.legend {
    font-size: 12px;
}
rect {
  stroke-width: 2;
}

.bar {
  fill: #313639;
}

.bar:hover {
  fill: #232628;
}

/*Text class styling*/

.text {
  fill: white;
  font-family: sans-serif
}

#tagChart {
  overflow-x: auto;
}

.portfolio {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.header {
  background-color: black;
  color: white;
}

.ticker {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding-left: 5%;
  width: 75%;
}

.weight {
  width: 50%;
  margin-left: 10%;
}

.head {
  font-size: 25px;
  font-weight: bold;
}

.title {
  text-align: center;
}

.elem {
  background-color: #fffefc;
}
li {
    display: block;
   }

li.expected_return:before {
  content: "\e018";
  color: #5b1f52;
}

li.risk:before {
  content: "\e141";
  color: #2C2C54;
}

li.volatility:before {
  content:"\e137";
  color: #32546d;

}

li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    
    font-family: 'Glyphicons Halflings';
    font-size: 15px;
    float: left;
    margin-top: 6px;
    margin-left: -17px;
    margin-right: 5px;
    color: black;
}

.list-group-item {
  background-color: #fffefc;
}

